/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding:0;
    font-family: "Roboto", serif;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*^^^^^CSS reset^^^^^*/

main{
    min-width:100vh;
    display:flex;
    flex-direction:column;
}

/******
header section
******/
.header{
    width:100%;
    background-image:linear-gradient(to right, #c098e0, #e09c98);
    display:flex;
    padding:1rem;
    gap:2rem;
    font-weight:bold;
    height:5rem;
    align-items:center;
    font-size:2rem;
}

.header > img{
    width:2rem;
}

.header>p{
    text-align:center;
    padding:0.5rem;
}

/******
Search section
******/
.search{
    background-color:#c3c2c4;
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:1rem;
}

.search-bars{
    display:flex; 
    list-style:none;
    gap:2rem;
}

li>input{
    border-radius:5px;
    border:none;
    margin-left:0.5rem;
}

.buttons{
    display:flex;
    gap:2rem;
    justify-content: flex-start;
    width:73%;
}

.buttons> button{
    background-color:#e5d2f4;
    padding:0 5px;
    border: 1px gray solid;
    border-radius:3px;
}

/******
catalog section
******/

.catalog{
    padding: 1rem 2rem;
}

.legend{
    display:flex;
    gap:3rem;
}

.part1, .part2{
    display:flex;
    gap:0.5rem;
}

.book>img, .part1>img, .part2 >img{
    width:1rem;
}

.book-container{
    padding: 1rem 0;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    gap:1rem;
}

.book{
    background-color:lightslategrey;
    max-width:250px;
    padding:1rem;
    border:3px solid black;
    border-radius:10px;
    text-align:center;
}
